In [3]:
import pandas as pd
df = pd.read_excel("TestDataSet.xlsx")

In [4]:
df.head()

   Subject                              Slots
0     Java  {(31,32),(39,40),(45,46),(59,60)}
1      DSA          {(31,32),(35,36),(41,42)}
2  English          {(51,52),(39,40),(41,42)}
3      DSD          {(45,46),(51,52),(31,32)}

In [9]:
print(df.columns)

Index(['Subject', 'Slots'], dtype='object')

In [10]:
print(df['Subject'])

0       Java
1        DSA
2    English
3        DSD
Name: Subject, dtype: object

In [16]:
print(df.iloc[1])

Subject                          DSA
Slots      {(31,32),(35,36),(41,42)}
Name: 1, dtype: object

In [17]:
print(df.iloc[1][1])

{(31,32),(35,36),(41,42)}

C:\Users\imrit\AppData\Local\Temp\ipykernel_28776\2687260098.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.iloc[1][1])

In [18]:
print(df.iloc[0][1])

{(31,32),(39,40),(45,46),(59,60)}

C:\Users\imrit\AppData\Local\Temp\ipykernel_28776\134252878.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.iloc[0][1])

In [19]:
print(df.iloc[0][0])

Java

C:\Users\imrit\AppData\Local\Temp\ipykernel_28776\2561436513.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(df.iloc[0][0])

In [21]:
for index,row in df.iterrows():
    print(row[0])

Java
DSA
English
DSD

C:\Users\imrit\AppData\Local\Temp\ipykernel_28776\3004141486.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(row[0])

In [22]:
for i in range(len(df)):
    print(df.iloc[i, 0])

Java
DSA
English
DSD

In [25]:
list1 = []
for i in range(len(df)):
    list1.append(df.iloc[i,1])

In [26]:
list1

[('{',
  '(',
  '3',
  '1',
  ',',
  '3',
  '2',
  ')',
  ',',
  '(',
  '3',
  '9',
  ',',
  '4',
  '0',
  ')',
  ',',
  '(',
  '4',
  '5',
  ',',
  '4',
  '6',
  ')',
  ',',
  '(',
  '5',
  '9',
  ',',
  '6',
  '0',
  ')',
  '}'),
 ('{',
  '(',
  '3',
  '1',
  ',',
  '3',
  '2',
  ')',
  ',',
  '(',
  '3',
  '5',
  ',',
  '3',
  '6',
  ')',
  ',',
  '(',
  '4',
  '1',
  ',',
  '4',
  '2',
  ')',
  '}'),
 ('{',
  '(',
  '5',
  '1',
  ',',
  '5',
  '2',
  ')',
  ',',
  '(',
  '3',
  '9',
  ',',
  '4',
  '0',
  ')',
  ',',
  '(',
  '4',
  '1',
  ',',
  '4',
  '2',
  ')',
  '}'),
 ('{',
  '(',
  '4',
  '5',
  ',',
  '4',
  '6',
  ')',
  ',',
  '(',
  '5',
  '1',
  ',',
  '5',
  '2',
  ')',
  ',',
  '(',
  '3',
  '1',
  ',',
  '3',
  '2',
  ')',
  '}')]